* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background: #071b45 url("./326-13-blue-binary-tech.jpg") no-repeat center
    fixed;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100vw;
  overflow: hidden;
  margin: 2rem;
}

