/*Header Section*/

.quiz-header {
  padding: 4rem;
}

/*main section*/

input {
  padding: 1rem;
  
}

ul {
  list-style: upper-alpha;
  margin: 0 auto 4rem 4rem;
}

ul li {
  margin: 1rem 0 2rem 0;
}

ul li label,
input,
button {
  cursor: pointer;
}

/*All Buttons */
button {
  background-color: #1c4cdb;
  color: whitesmoke;
  margin: 1rem;
  border: none;
  display: block;
  width: 97%;
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1rem;
  border-radius: 12px;
  list-style: none;
}

button:hover {
  background-color: #3a5ec9;
}

button:focus {
  outline: none;
  background-color: rebeccapurple;
}

#highBtn,
#newBtn {
  width: 15rem;
}

#question {
  font-size: 2.2rem;
  color: #fefa06;
  height: 8rem;
  padding: 1 rem;
  text-align: center;
}

.quiz-card,
.quiz-card-inner,
.quiz-card-back,
.quiz-card-front
{
  height: 40rem;
  width: 60rem;
  border-radius: 12px;
  text-align: center;
}

.quiz-card {
  margin: 8rem 25rem 2rem;
  background-color: transparent;
  }

.quiz-card-front {
  padding: 0 4rem;
  }

.quiz-card-front h1 {
  font-size: 5rem;
  color:#5ea3f3;
  margin: 2rem auto;
}

.quiz-card-front p {
  margin: 0 auto 2rem auto;
  color: #b5cfed;
  
  
}

.quiz-card img {
  height: 12rem;
  width: auto;
  margin: 0 39%;
}

.quiz-card-inner {
  position: relative;
  text-align: left;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(10, 10, 10, 0.589);
  margin-bottom: 2rem;
}

.quiz-card-front,
.quiz-card-back {
  position: absolute;
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(68, 69, 172);
}
.highScores,
.result-container,
.quiz-card-front {
  background-color: #052424;
}

.quiz-card-back {
  background-color: #164564;
  transform: rotateY(180deg);
  text-align: left;
}


.highScores,
.result-container {
  padding: 3rem;
  height: 10rem;
  width: 60rem;
  border-radius: 12px;
  border: 1px solid rgb(68, 69, 172);
  color: #b5cfed;
  margin-bottom: 2rem;
 
}
.result-container{
  font-size: 1.6rem;
  padding: 1rem;
  }
.tickTimer{
  color: #fefa06;
}
#playerName{
 border: 1px solid rgb(68, 69, 172);
 margin: 0 1rem;
 height: 4rem;
}
#enterScore{
border: 1px solid rgb(68, 69, 172);
width: 12rem;
height:4rem;
}
.inputName_Container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.highScores {
height: 40rem;
  width: 60rem;
  border-radius: 12px;
  text-align: center;
display:none;
}

.highScores h1{
  font-size: 3.2rem;
  color:#5ea3f3;
  margin-bottom: 1rem;
}

.highScores input{
border-radius: 12px;
border-style: none;
font-weight: 600;
background-color: #1c4cdb;
color: #fff;
}

.highScoreTable{
width: 50rem;
margin: 1rem 2rem;


}
.highScoreTable,
.highScoreTable tr,
.highScoreTable td{
border: 1px solid rgb(68, 69, 172);
border-collapse: collapse;

}

