

/*Small devices (landscape phones, less than 768px)*/
/*@media (max-width: 767.98px) { ... }

/*Medium devices (tablets, less than 992px)*/
/*@media (max-width: 991.98px) { ... }

/*Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { ... }

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

.result-container, 
.highScores,
.quiz-card,
.quiz-card-inner,
.quiz-card-back,
.quiz-card-front {
  height: 55rem;
  width: 40rem;
  
}
.quiz-card-front img {
  height: 12rem;
  width: auto;
  margin: 0;
  }


.result-container{
  height: 20rem;
  
}

.highScoreTable,
.highScoreTable tr,
.highScoreTable td {
  width:34rem;
 }

.highScores{
  padding:1rem;
}
.scores_Container{
  margin-bottom: 10rem;
  font-size: 1.6rem;
  height:13.8rem;
}
}